@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}

.card {
  box-shadow: 6px 4px 30px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 4px 30px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 4px 30px -5px rgba(0, 0, 0, 0.75);
  position: relative;
  top: -28rem;
  right: -40rem;
  padding: 40px;
  margin-left: 50px;
  width: 30%;
  /* border-radius: 10px;*/
  background: #fff3e3;
}

footer {
  display: flex;
  /*flex-wrap: wrap;*/
  justify-content: center;
  align-items: center;
  gap: 60px;
  background-color: rgb(128, 92, 13);
  font-weight: 100px;
  font-size: 16px;
}

h6 {
  color: grey;
}

.footer-help a {
  color: #000;
}

a:first-child {
  text-decoration: none;
}

ul {
  list-style-type: none;
  line-height: 50px;
}
.footer-help {
  padding-bottom: 45px;
}
.footer-Newsletter,
a {
  padding-bottom: 150px;
  line-height: 50px;
  text-decoration: none;
}

.a-tag2 {
  color: #000;
}

.a-tag {
  color: grey;
}
.move {
  position: relative;
  top: -15px;
  border-bottom: 1px solid black;
}

@media (max-width: 600px) {
  footer {
    flex-direction: column;
    padding: 20px 30px;
  }

  .footer-help ul {
    margin-left: 20px;
    margin-bottom: 20px;
  }
}
